@font-face {
  font-family: vazirMatn;
  font-style: normal;
  font-weight: 500;
  src: url(/assets/fonts/vazirmatn/Vazirmatn-Medium.ttf);
}

@font-face {
  font-family: vazirmatn;
  font-style: normal;
  font-weight: 100;
  src: url(/assets/fonts/vazirmatn/Vazirmatn-Thin.ttf);
}

@font-face {
  font-family: vazirmatn;
  font-style: normal;
  font-weight: normal;
  src: url(/assets/fonts/vazirmatn/Vazirmatn-Regular.ttf);
}
